<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>BOOK COVER CALC</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <h1>Рассчет размеров деталей переплетных крышек типа 7</h1>
      <h2>Все параметры указывать в мм</h2>
      <section>
        <div>
          <div>
            <img src="images\1.jpg" alt="Выбор толщины картона в зависимости от толщины блока">
            <p>Рис. 1. Выбор толщины картона в зависимости от толщины блока: М - для малых; С - для 
            средних; Б - для больших форматов.</p>
          </div>
          <div>
            <label for="cardboard">Введите толщину картона К (рис. 1)</label>
            <input id="cardboard" type="text" v-model="k">
            <table>
              <caption>
                Табл. 1. Размерные показатели переплетных крышек и книг в мм.
              </caption>
              <thead>
                <tr>
                  <th>Формат издания</th>
                  <th>Квн</th>
                  <th>Кп</th>
                  <th>Р</th>
                  <th>З</th>
                </tr>
              </thead>
              
              <tfoot>
                
              </tfoot>
              <tbody>
                  <tr v-for="format in formats" v-bind:key="format.name">
                    <td>{{format.name}}</td>
                    <td>{{format.kvn}}</td>
                    <td>{{format.kp}}</td>
                    <td v-if="k">{{calcP(k)}}</td>
                    <td v-else>Выберите толщину картона</td>
                    <td>{{format.z}}</td>
                  </tr>
              </tbody>
            </table>
          </div>

          <div>
            <ul>
              <li>К — толщина картона</li>
              <li>Тб — толщина книжного блока</li>
              <li>Квн — ширина верхних и нижних кантов</li>
              <li>Кп — ширина передних кантов</li>
              <li>Р — ширина расстава</li>
              <li>З — ширина загибки покровного материала</li>
              <li>Ш — ширина книжного блока</li>
              <li>В — высота книжного блока</li>
              <li>Кот — толщина картона отстава</li>
            </ul>
            
            <form>
              <div>
                <div>
                  <select id="format-type" name="format-type">
                    <option value="Малый">Малый</option>
                    <option value="Средний" selected>Средний</option>
                    <option value="Большой">Большой</option>
                  </select>
                  <select id="spine-type" name="spine-type">
                    <option value="Прямой" selected>Прямой корешок</option>
                    <option value="Кругленый">Кругленый корешок</option>
                  </select>
                </div>
                <div>
                  <label for="width">Ш</label>
                  <input id="width" type="text" v-model="w">
                  <label for="height">В</label>
                  <input id="height" type="text" v-model="h">
                  <label for="thickness">Тб</label>
                  <input id="thickness" type="text" v-model="Tb">
                  <label for="card-spine">Кот</label>
                  <input id="card-spine" type="text" v-model="Kot">
                </div>
              </div>
            </form>
          </div>
          
        </div>
        <!-- v-bind:disabled="isButtonDisabled" -->
        <button  v-on:click="renderScheme">Рассчитать</button>
      </section>
      <section>
        <p>Здесь появится схема:</p>
      </section>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <script>
    window.app = new Vue({
      el: '#app',
      data: function() {
        return {
          k: 0,
          w: 0,
          h: 0,
          Tb: 0,
          Kot: 0,
          params: {

          },
          formats: [
            {
              name: 'Малый',
              kvn: 2,
              kp: 3,
              z: 15,
            },
            {
              name: 'Средний',
              kvn: 3,
              kp: 4,
              z: 15,
            },
            {
              name: 'Большой',
              kvn: 4,
              kp: 5,
              z: 15,
            }
          ],
        }
      },
      methods: {
        calcP: function(k) {
          let str = k.split('').map(i => i == ',' ? '.' : i).join('');
          let P = 5 + Number(str) * 2;
          this.formats.forEach(obj => obj.p = P);
          return P
        },
        addInParams: function() {
          this.params.k = +this.k;
          this.params.w = +this.w;
          this.params.h = +this.h;
          this.params.Tb = +this.Tb;
          this.params.Kot = +this.Kot;
          let selectFormat = document.querySelector('#format-type');
          this.formats.map(function(obj){
            if (obj.name == selectFormat.value) {
              for (let key in obj) {
                if (key == 'name') continue
                app.params[key] = +obj[key]
              }
            }
          });
        },
        calculationValue: function() {
          let SHkc = this.params.w + this.params.kp - this.params.p; // ширина кортонных сторонок
          let Hkc = this.params.h + 2 * this.params.kvn; // высота кортонных сторонок
          let Hot = this.params.h + 2 * this.params.kvn; // высота отстава допуск -0,5 - -1
          let Hm = this.params.h + 2 * (this.params.kvn + this.params.k + this.params.z); // высота покровного материала крышек
          let Wop = Wok = Wmp = Wmk = Wshp = Wshk = Wkp = Wkk = 0;
          let selectSpine = document.querySelector('#spine-type');
          
          if (selectSpine.value = 'Прямой') {
            Wop = this.params.Tb + 2 * this.params.Kot;
            Wmp = this.params.Tb + 2 * (this.params.w + this.params.k + this.params.Kot + this.params.kp + this.params.z);
            Wshp = this.params.Tb + 2 * (this.params.p + this.params.Kot);
            Wkp = this.params.Tb + 2 * (this.params.w + this.params.kp + this.params.Kot);
          } else if (selectSpine.value = 'Кругленый') {
            
          }

          return {Wop: Wop, Wok: Wok, Wmp: Wmp, Wmk: Wmk, Wshp: Wshp, Wshk: Wshk, Wkp: Wkp, Wkk: Wkk, SHkc: SHkc, Hkc: Hkc, Hot: Hot, Hm: Hm,}
          // console.log(Wop, Wok, Wmp, Wmk, Wshp, Wshk, Wkp, Wkk, this.params)
        },
        renderScheme: function() {
          this.addInParams();
          Object.assign(this.params, this.calculationValue());
          // console.log(this.params)
        }
      },
      computed: {
        isButtonDisabled: function() {
          // return +this.k && +this.w && +this.h && +this.Tb && +this.Kot ? false : true
        },

      },
    });
  </script>
  <script src="main.js"></script>
</body>
</html>