<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>BOOK COVER CALC</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <h1>Рассчет размеров деталей переплетных крышек типа 7</h1>
      <h2>Все параметры указывать в мм</h2>
      <section>
        <div>
          <div>
            <img src="images\1.jpg" alt="Выбор толщины картона в зависимости от толщины блока">
            <p>Рис. 1. Выбор толщины картона в зависимости от толщины блока: М - для малых; С - для 
            средних; Б - для больших форматов.</p>
          </div>
          <div>
            <label for="cardboard">Введите толщину картона сторонок (К) (рис. 1)</label>
            <input id="cardboard" type="text" v-model="k" tabindex="1">
            <table>
              <caption>
                Табл. 1. Размерные показатели переплетных крышек и книг в мм.
              </caption>
              <thead>
                <tr>
                  <th>Формат издания</th>
                  <th>Квн</th>
                  <th>Кп</th>
                  <th>Р</th>
                  <th>З</th>
                </tr>
              </thead>
              
              <tfoot>
                
              </tfoot>
              <tbody>
                  <tr v-for="format in formats" v-bind:key="format.name">
                    <td>{{format.name}}</td>
                    <td>{{format.kvn}}</td>
                    <td>{{format.kp}}</td>
                    <td v-if="k">{{calcP(k)}}</td>
                    <td v-else>Выберите толщину картона</td>
                    <td>{{format.z}}</td>
                  </tr>
              </tbody>
            </table>
          </div>

          <div>
            <ul>
              <li>К — толщина картона сторонок</li>
              <li>Тб — толщина книжного блока</li>
              <li>Квн — ширина верхних и нижних кантов</li>
              <li>Кп — ширина передних кантов</li>
              <li>Р — ширина расстава</li>
              <li>З — ширина загибки покровного материала</li>
              <li>Ш — ширина книжного блока</li>
              <li>В — высота книжного блока</li>
              <li>Кот — толщина картона отстава</li>
              <li>Lк — длина дуги кругленого корешка</li>
            </ul>
            
            <form>
              <div>
                <div>
                  <select id="format-type" name="format-type" tabindex="-1">
                    <option value="Малый">Малый</option>
                    <option value="Средний" selected>Средний</option>
                    <option value="Большой">Большой</option>
                  </select>
                  <select id="spine-type" name="spine-type" v-model="spineType" tabindex="1">
                    <option value="" disabled>Выбрать тип корешка</option>
                    <option value="Прямой" selected>Прямой</option>
                    <option value="Кругленый">Кругленый</option>
                  </select>
                </div>
                <div v-if="spineType == 'Прямой'">
                  <label for="width">Ш:</label>
                  <input id="width" type="text" v-model="w">
                  <label for="height">В:</label>
                  <input id="height" type="text" v-model="h">
                  <label for="thickness">Тб:</label>
                  <input id="thickness" type="text" v-model="Tb">
                  <label for="card-spine">Кот:</label>
                  <input id="card-spine" type="text" v-model="Kot">
                </div>
                <div v-else-if="spineType == 'Кругленый'">
                  <label for="width">Ш:</label>
                  <input id="width" type="text" v-model="w">
                  <label for="height">В:</label>
                  <input id="height" type="text" v-model="h">
                  <label for="length-spine">Lк:</label>
                  <input id="length-spine" type="text" v-model="Lk">
                </div>
                <div v-else></div>
              </div>
            </form>
          </div>
          
        </div>
      </section>
      <button :disabled="isButtonDisabled" v-on:click="renderScheme">Рассчитать</button>
      <p class="text">Здесь появится схема:</p>
      <section id="render">
        
      </section>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>