html{
  box-sizing: border-box;
  padding: 10px 0;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
  padding: 5px 0;
}

h2 {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  bottom: 0;
  cursor: pointer;
}

button {
  border: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 5px 12px;
  background-color: #efefef;
  font-weight: bold;
  transition: all ease-in .2s;
}

button:hover {
  background-color: #98abc4;
}

a{
  text-decoration: none;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.hg {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

/* Section */

section {
  margin-bottom: 10px;
}

section>div {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
}

section>div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 340px;
}

img {
  margin-bottom: 10px;
}

img + p {
  text-align: center;
}

/* Table */

table {
	width: 100%;
	margin: 20px 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

table caption {
  caption-side: bottom;
  margin-top: 30px;
}

/* Form */

form {
  width: 100%;
}

form>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form>div div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

input {
  width: 32px;
}



button:disabled {
  cursor: not-allowed;
  /* position: relative; */
}

/* button>div {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* render section */
.text {
  font-size: 20px;
}

#render {
  position: relative;
}

#render div{
  position: relative;
}

#render span {
  position: absolute;
}

.Wmp, .Wkp {
  top: -20px;
  left: 50%;
  transform: translate(-50%);
}

.Hm, .Hkc {
  transform: rotate(-90deg) translate(50%, 50%);
  top: 50%;
}

.P, .Tb {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.P {
  left: 9%;
}

.Hkc {
  left: -3%;
}

.Wkc {
  transform: translate(-50%, -50%); 
  left: 20%;
  top: 3%;
}

#render div {
  display: block;
  border: 3px solid #000;
}

.Wkp {
  top: 4%;
}


#render>div {
  width: 95%;
  height: 95%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  padding: 4%;
  position: relative;
}

#render>div>div {
  width: 100%;
  height: 100%;
}

#render>div>div div {
  border-top: none;
  border-bottom: none;
  margin: 0 auto;
  width: 15%;
  height: 100%;
}

#render>div>div>div>div {
  width: 60%;
}