html{
  box-sizing: border-box;
  padding: 10px 0;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 10px;
  padding: 5px 0;
}

h2 {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  bottom: 0;
}

button {
  border: none;
  display: block;
  margin: 0 auto;
  padding: 5px 12px;
  background-color: #efefef;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in .2s;
}

button:hover {
  border: 1px solid #ddd;
  padding: 7px 14px;
}

a{
  text-decoration: none;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* Section */
section {
  margin-bottom: 10px;
}

section>div {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
}

section>div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 340px;
}

img {
  margin-bottom: 10px;
}

img + p {
  text-align: center;
}

/* Table */

table {
	width: 100%;
	margin: 20px 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

table caption {
  caption-side: bottom;
  margin-top: 30px;
}

/* Form */

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

input {
  width: 32px;
}

